.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  align-items: center;
  background: var(--modal-bg);
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  width: 100%;
}

.image {
  max-width: 600px;
  max-height: 600px;
  border-radius: 10px;
}

.details {
  margin-left: 20px;
  color: var(--text-color);
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.userName {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.imageTitle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.descriptionTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.description {
  font-size: 18px;
}

.downloadButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.downloadButton:hover {
  background-color: var(--primary-hover);
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
    height: auto;
  }

  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image {
    max-width: 90%;
    height: auto;
  }

  .details {
    margin-left: 0;
    margin-top: 20px;
  }

  .userName,
  .imageTitle,
  .descriptionTitle,
  .description {
    font-size: 16px;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }
}
