.profile {
  border-radius: 15px;
  padding: 20px;
  margin: 50px auto;
  width: 100%;
  background: var(--modal-bg);
  color: var(--text-color);
  box-sizing: border-box;
}

.avatar {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #007bff;
}

.profileHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.messageButton,
.logoutButton,
.notificationButton {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1rem;
}

.logoutButton {
  background-color: var(--danger-color);
}

.messageButton:hover,
.notificationButton:hover {
  background-color: #0056b3;
}

.logoutButton:hover {
  background-color: var(--danger-hover);
}

.notificationsButtonActive {
  background-color: var(--danger-color);
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .profileHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatar {
    margin: 15px;
    width: 80px;
    height: 80px;
  }

  .messageButton,
  .logoutButton,
  .notificationButton {
    width: 50%;
    text-align: center;
    font-size: 50%;
  }

  .buttonGroup {
    width: 50%;
  }
}

@media (max-width: 320px) {
  .profileHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatar {
    margin: 15px;
    width: 80px;
    height: 80px;
  }

  .messageButton,
  .logoutButton,
  .notificationButton {
    width: 50%;
    text-align: center;
    font-size: 50%;
  }

  .buttonGroup {
    width: 50%;
  }
}
