.comments {
  background: var(--comment-color);
  padding: 15px;
  border-radius: 10px;
  color: var(--warning-color);
}

.addButton {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  transition: 0.3s;
}

.addButton:hover {
  background-color: #0056b3;
}

textarea {
  background: var(--comment-color);
  border: 1px solid var(--primary-color);
  padding: 10px;
  color: var(--text-color);
  border-radius: 5px;
  outline: none;
}

@media (max-width: 480px) {
  .comments {
    padding: 10px;
  }

  textarea {
    font-size: 0.95rem;
  }

  .addButton {
    width: 100%;
    font-size: 0.95rem;
    padding: 6px 10px;
  }
}
