.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--modal-bg);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.menu {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
}

.item a {
  color: var(--navbar-color);
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease;
}

.item a:hover {
  color: var(--link-hover);
}

.item.active a {
  color: var(--link-hover);
  font-weight: bold;
}

.icon {
  position: relative;
  left: -40px;
  width: 50px;
  height: 50px;
}

.icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.buttonLink {
  background: none;
  border: none;
  color: var(--navbar-color);
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 3px;
  padding: 0;
}

.buttonLink:hover {
  color: var(--link-hover);
}

@media (max-width: 768px) {
  .nav {
    flex-direction: row;
    padding: 10px 20px;
  }

  .menu {
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
  }

  .icon {
    position: static;
    margin-bottom: 10px;
    margin-right: 50px;
  }

  .buttonLink,
  .item a {
    font-size: 14px;
  }
}
