.mypictures {
  margin-top: 20px;
  text-align: center;
}

.gallery {
  width: 100%;
  height: 500px;
  padding: 0 20px;
}

.imagePost {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.overlayTop {
  position: absolute;
  top: 0;
  width: 100%;
  background: var(--overlay-color);
  padding: 6px 0;
}

.imageTitle {
  color: var(--text-color);
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.uploadedImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.uploadedImage:hover {
  transform: scale(1.05);
}

.input {
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--input-border);
  border-radius: 8px;
  background-color: var(--input-bg);
  color: var(--text-color);
  outline: none;
}

.removeButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--danger-color);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.editButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.imagePost:hover .removeButton,
.imagePost:hover .editButton {
  opacity: 1;
}

.addButton {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.addButton:hover {
  background-color: var(--primary-hover);
}

.fileInput {
  margin: 10px;
}

.sortSelect{
  width: 200;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid var(--input-border);
  background: var(--modal-bg);
  color: var(--text-color);
}

@media (max-width: 768px) {
  .gallery {
    height: auto;
    padding: 0 10px;
  }

  .uploadedImage {
    max-width: 100%;
  }

  .input {
    width: 100%;
  }

  .searchBar {
    width: 50%;
    margin: 90px auto 20px;
    display: row;
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .imageTitle {
    font-size: 14px;
  }

  .addButton,
  .editButton,
  .removeButton {
    font-size: 0.9rem;
    padding: 6px 10px;
  }
}
